
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Principal</title>
</head>
<body onload="getLocation()">
    <div class="container">
        <div class="side">
            <div class="header">
                <div class="avatar">
                    <a href="~/Home/Cuenta">
                        @*@con esto me tarigo el nombre y la imagen del usuario actual@*@
                        @{
                            var miObjeto = Session["Cliente"] as CapaEntidad.cliente;
                        }
                        @if (miObjeto != null)
                        {
                            <p></p>
                        }


                        <img src="@Url.Action("GetImagePrincipal", "perfil", new { id = miObjeto.idCliente })" alt="" />
                    </a>

                </div>
                <div class="title"><samp>@(miObjeto != null ? miObjeto.nombre : Session["nombre"])</samp></div>
                <div id="id" style="display: none">@(miObjeto != null ? miObjeto.idCliente : Session["idCliente"])</div>

            </div>
            <div class="menu">
                <ul>
                    <li>Matches</li>
                    <li class="active">Mensajes</li>
                    <li>Suspiros</li>
                </ul>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/38.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/39.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/40.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/41.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/42.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="card">
                <div class="user">
                    <img class="user" id="user" />
                    <div class="profile">
                        <p id="id2" style="display:none"></p>
                        <div class="name">
                            <span id="nom">20</span>
                            <span id="edad">20</span>
                        </div>
                        <div class="icon">
                            <a href="@Url.Action("VerPerfil", "Home")">
                                <i class="las la-eye"></i>
                            </a>

                        </div>

                        <div class="local">
                            <span><b>Descripción:</b></span>
                        </div>
                        <div class="desc">
                            <span id="desc">Hola soy lotso y adoro los abrazos</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="no" onclick="Nogusta()">
                    <i class="fas fa-times" ></i>
                </div>
                <div class="star">
                    <i class="fas fa-star fa"></i>
                </div>
                <div class="heart" onclick="gusta()">
                    <i class="fas fa-heart"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>




        window.addEventListener('load', function(){

            $.ajax({
                type: "POST",
                 url: '@Url.Action("Descubrir", "Home")',
                data: JSON.stringify({ idCliente: id}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    var obj = data.data;
                    var ruta = obj.idCliente;
                    var data = '@Url.Action("GetImage", "preguntasInteres")' + '?id=' + encodeURIComponent(ruta);
                    $("#user").attr("src", data)
                    $("#prueba").text(obj.idCliente)
                    $("#nom").text(obj.nombre)
                    $("#edad").text(obj.edad)
                    $("#desc").text(obj.descripcion)
                    console.log('Datos cargados con exito')
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error al enviar la ubicación al servidor.");
                }
            });


        });


        var id = document.querySelector('#id').innerHTML;



        function gusta() {


            $.ajax({
                type: "POST",
                 url: '@Url.Action("Descubrir", "Home")',
                data: JSON.stringify({ idCliente: id}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var obj = data.data;
                    var ruta = obj.idCliente;
                    var data = '@Url.Action("GetImage", "preguntasInteres")' + '?id=' + encodeURIComponent(ruta);
                    $("#user").attr("src", data)
                    $("#nom").text(obj.nombre)
                    $("#edad").text(obj.edad)
                    $("#desc").text(obj.descripcion)


             $.ajax({
                type: "POST",
                 url: '@Url.Action("Matches", "Home")',
                data: JSON.stringify({cliente1: id, cliente2: ruta, activo:1}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log('Me gusta exitoso')
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error')
                }
            });



                    console.log("Datos obtenidos con exito");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error al enviar la datos al servidor.");
                        }
            });



        }



           function Nogusta() {


            $.ajax({
                type: "POST",
                 url: '@Url.Action("Descubrir", "Home")',
                data: JSON.stringify({ idCliente: id}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var obj = data.data;
                    var ruta = obj.idCliente;
                    var data = '@Url.Action("GetImage", "preguntasInteres")' + '?id=' + encodeURIComponent(ruta);
                    $("#user").attr("src", data)
                    $("#nom").text(obj.nombre)
                    $("#edad").text(obj.edad)
                    $("#desc").text(obj.descripcion)


             $.ajax({
                type: "POST",
                 url: '@Url.Action("Matches", "Home")',
                 data: JSON.stringify({ cliente1: id, cliente2: ruta, activo: 2 }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log('No me gusta exitoso')
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('Error')
                }
            });



                    console.log("Datos obtenidos con exito");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error al enviar la datos al servidor.");
                        }
            });



        }





        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("La geolocalización no es compatible con este navegador.");
            }
        }


        function showPosition(position) {

            var id = document.querySelector('#id').innerHTML;

            $.ajax({
                type: "POST",
                 url: '@Url.Action("ubicacion", "Acceso")',
                data: JSON.stringify({ idCliente: id,latitud: position.coords.latitude, longitud: position.coords.longitude }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert('Su ubicación esta siendo utilizada')
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Error')
                }
            });
        }

    </script>

</body>
</html>
