<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/panel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-5YzMX5pBjjlFvAd8Wd2+b7gDf9lhr3xqW1yE7nCp9Xu9mVJfvm+aZl7AvwRP2QmfdMvfvxW/Yf8dhPjH/9MGGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @Styles.Render("~/Content/css")
</head>
<body>

    @RenderBody()
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <div class="logo">
            <img src="~/imagenes/logoLover.jpeg" alt="Logo">
        </div>
        <h3>Administrador</h3>
        <ul class="sidebarMenuInner">
            <li><a href="@Url.Action("Index","ConfCorreos")">Configuracion correos</a></li>
            <li><a href="@Url.Action("Index","Correos")">Asunto correos</a></li>
            <li><a href="@Url.Action("Index","Configuracions")">Sitio</a></li>
            <li><a href="@Url.Action("Index","Acceso")">Cerrar sesión</a></li>
        </ul>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>

</script>