
@model List<CapaEntidad.cliente>
@{
    ViewBag.Title = "VistaMeGusta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>VistaMeGusta</title>

    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/91aa7cf289.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/Content/Tblas.css" rel="stylesheet" />


    <style>
        .dropdown-menu {
            background-color: #f8f9fa;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
        }

        .dropdown-item {
            color: #212529;
        }

            .dropdown-item:hover {
                background-color: #e9ecef;
                color: #212529;
            }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-toggle i.fa-solid.fa-ellipsis {
            transform: rotate(180deg);
        }

        h2 {
            text-align: center;
        }

        th {
            text-align: center;
        }

        .dropdown-item {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        @*@con esto me tarigo el nombre y la imagen del usuario actual@*@
        @{
            var miObjeto = Session["Cliente"] as CapaEntidad.cliente;
        }

        @if (miObjeto != null)
        {
            <p></p>
        }

        <h2>Personas a los que les has dado "Me gusta"</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ClientesGustados.Count == 0)
                    {
                        <tr>
                            <td colspan="2">No le haz dado me gusta a ninguna persona.</td>
                        </tr>
                    }
                    else
                    {
                        
                        foreach (var cliente in ViewBag.ClientesGustados)
                        {
                <tr>
                    <td>
                        <div class="imagen-container">
                            <img class="imagen-circular"
                                 src="@Url.Action("GetImagePrincipal", "Perfil", new { id = cliente.idCliente })"
                                 alt="Foto"
                                 data-id="@cliente.idCliente"
                                 onerror="this.onerror=null; this.src='https://via.placeholder.com/70x70?text=?'; this.title='No ha establecido ninguna foto como perfil';"
                                 title="Haz clic aquí para ver la foto de perfil" />

                        </div>

                    </td>
                    @*<td>@cliente.idCliente</td>*@
                    <td>@cliente.nombre</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>

                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item btnReconsiderar" data-id="@cliente.idCliente" href="#">Reconsiderar</a>

                                @*<a class="dropdown-item" href="#">Opción 2</a>
        <a class="dropdown-item" href="#">Opción 3</a>*@
                            </div>
                        </div>
                    </td>


                </tr>
                        }
                    }
                </tbody>
            </table>
        </div>


    </div>
    
    <script>
  $(document).ready(function() {
  $('.btnReconsiderar').click(function() {
    console.log('Se hizo click en el botón Reconsiderar');
    var idCliente = $(this).data('id');
    $.ajax({
      url: '@Url.Action("ReconsiderarCliente", "Historiales")',
      type: 'POST',
      data: { idCliente: idCliente },
      success: function(result) {
          if (result.success) {
              Swal.fire({
                  icon: 'success',
                  title: 'Éxito',
                  text: result.message,
                  showConfirmButton: false,
                  timer: 1500
              }).then(function () {
                  location.reload();
              });
        } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: result.message,
                    showConfirmButton: false,
                    timer: 1500
                });
            }
        },
      error: function() {
        // hacer algo en caso de error
      }
    });
  });
});





    </script>


</body>

</html>

