@model CapaEntidad.foto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/Content/StylesJona/Editperfil.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*<link href="~/Content/StylesJona/Modal2.css" rel="stylesheet" />*@
    <link href="~/Content/StylesJona/BtonModal.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/Content/StylesJona/styleImagenes2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link href="~/Content/StylesJona/estilosBotones.css" rel="stylesheet" />

    <style>

        .contenedor-fotos {
            margin-bottom: 30px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .foto-contenedor {
            position: relative;
        }

        .eliminar-form {
            position: absolute;
            top: 10px;
            right: 15px;
        }

        .eliminar-btn {
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 20px;
        }

            .eliminar-btn:hover {
                color: red;
                cursor: pointer;
            }

        .principal-btn {
            display: block;
            margin-top: 10px;
            padding: 10px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            color: #555;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
        }

        .btn-interes {
            display: inline-block;
            margin: 5px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            background-color: #f7f7f7;
            color: #333;
            border-radius: 5px;
            font-size: 14px;
            line-height: 1;
        }

            .btn-interes:hover {
                background-color: rgba(255, 0, 0, 0.5);
                cursor: pointer;
            }

        .btn-editar-intereses {
            display: inline-block;
            margin: 5px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            background-color: #f7f7f7;
            color: #333;
            border-radius: 5px;
            font-size: 14px;
            line-height: 1;
        }

            .btn-editar-intereses:hover {
                background-color: #e0e0e0;
                cursor: pointer;
            }


        /* Estilo para el botón que abre el modal */
        #btn-modal {
            display: block;
            margin: 10px auto;
            padding: 10px 20px;
            background-color: #5f0c0c;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        /* Estilo para el modal */
        .modal {
            display: none; /* El modal está oculto por defecto */
            position: fixed; /* Se posiciona de manera fija */
            z-index: 1; /* Se sitúa por encima de otros elementos */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Se aplica un fondo oscuro y traslúcido */
        }

        /* Estilo para el contenido del modal */
        .modal-contenido {
            background-color: white;
            margin: 15% auto; /* Se centra verticalmente */
            padding: 20px;
            border-radius: 5px;
            width: 50%;
            position: relative;
        }

        /* Estilo para el botón de cerrar el modal */
        .cerrar {
            position: absolute;
            top: 0;
            right: 0;
            color: #aaaaaa;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

            .cerrar:hover,
            .cerrar:focus {
                color: #5f0c0c;
                text-decoration: none;
                cursor: pointer;
            }


        .interes {
            display: inline-block;
            margin: 5px;
            padding: 5px 10px;
            border: 1px solid #000;
            background-color: transparent;
            color: #000;
            border-radius: 5px;
            font-size: 14px;
            line-height: 1;
            position: relative;
        }

            .interes:hover {
                background-color: #ff0000;
                color: #fff;
            }

        .button-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .button-item {
            display: inline-block;
            margin: 5px;
            padding: 10px 25px 10px 15px;
            background-color: transparent;
            color: #333;
            border: 2px solid black;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            position: relative;
            padding-right: 20px; /* aumentar el espacio de relleno hacia la derecha */
        }

            .button-item:hover {
                background-color: lightcoral;
                color: #fff;
            }

        .btn-eliminar-interes {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
            color: #000;
            cursor: pointer;
        }

            .btn-eliminar-interes:hover {
                color: #ff0000;
            }

            .btn-eliminar-interes i {
                font-size: 1.2em;
                margin-right: 3px;
            }




        .fa-trash-alt {
            font-size: 1em;
        }

        .modal-intereses select {
            display: block;
            width: 100%;
            height: 40px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #fff;
            margin-bottom: 20px;
        }

            .modal-intereses select[multiple] {
                height: auto;
            }

        .modal-intereses ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .modal-intereses li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

            .modal-intereses li button {
                margin-left: 10px;
                padding: 5px 10px;
                font-size: 14px;
                background-color: #5f0c0c;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

                .modal-intereses li button:hover {
                    cursor: pointer;
                    background-color: #5f0c0c;
                }

        .modal-intereses option {
            padding: 10px;
            font-size: 16px;
        }

            .modal-intereses option:disabled {
                color: #ccc;
                background-color: #f7f7f7;
            }


        .label-container {
            position: absolute;
            text-align: center;
        }

        #max-intereses-label {
            font-size: 20px;
            color: black;
        }

        .intereses-seleccionados-lista {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }

            .intereses-seleccionados-lista li {
                margin: 0 10px 10px 0;
                padding: 5px 10px;
                background-color: #e6e6e6;
                border-radius: 5px;
                font-size: 14px;
                font-weight: bold;
            }

        #agregar-interes {
            border: 2px solid #ccc;
            background-color: #fff;
            color: #333;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

            #agregar-interes:hover {
                background-color: lightgray;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="profile-edit">
            <div class="profile-edit__header">
                <h2>Edita tu perfil</h2>
            </div>
            <div class="profile-edit__content">
                <div class="profile-edit__section">
                    <h3>Bio</h3>


                    <form method="post">

                        <div class="form-group">
                            <textarea id="descripcion" name="descripcion"></textarea>
                        </div>
                    </form>

                </div>
                <div class="profile-edit__section">
                    <h3>Fotos</h3>

                    <div class="contenedor">
                        <button id="btnAgregarFoto">
                            <span class="fas fa-camera"></span> Subir Foto
                        </button>
                    </div>



                    <div class="contenedor-fotos">
                        @foreach (var f in ViewBag.fotos)
                        {
                            <div class="foto-contenedor">
                                <img src="data:image/@f.extencion;base64,@f.base64" alt="Foto del cliente" class="mi-clase-css">
                                <div class="botones">
                                    <form method="post" action="@Url.Action("EliminarFoto", "Perfil", new { id = f.idfoto })" class="eliminar-form">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="eliminar-btn"><i class="fa fa-times"></i></button>
                                    </form>

                                    <form method="post" action="@Url.Action("EstablecerComoPrincipal", "Perfil", new { idfoto  = f.idfoto })">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="principal-btn"><i class="fa fa-star"></i> Establecer como Principal</button>
                                    </form>
                                </div>
                            </div>
                        }

                    </div>





                    <div class="modal fade" id="modalAgregarFoto" tabindex="-1" role="dialog" aria-labelledby="modalAgregarFotoLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalAgregarFotoLabel">Agregar Foto</h5>
                                    <button type="button" class="close" data-dismiss="modal" id="btnCerrarModal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">


                                    <div class="form-group">

                                        <div class="upload-button" onclick="document.getElementById('file').click()">
                                            <span>Subir imagen</span>

                                            <input type="file" name="file" id="file" accept=".jpeg" onchange="validateFileSize(this)" />
                                        </div>
                                    </div>
                                    <div class="button-container">
                                        <button class="submit-btn" type="submit" id="submit-btn" disabled>Subir</button>
                                    </div>

                                </div>
                                <div class="modal-footer">


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-edit__section">
                        <h3>Intereses</h3>


                        @*modal para agregar los interes*@
                        <button id="btn-modal">Agregar Intereses</button>


                        <div class="modal" id="mi-modal">
                            <div class="modal-contenido">
                                <span class="cerrar">&times;</span>



                                <div class="card-container">
                                    <div class="card">
                                        @*<div class="logo-container">
                                                <img src="~/imagenes/image001.png" style="width: 30%; height: 30%;" alt="Logo">
                                            </div>*@

                                        <h2>Intereses</h2>
                                        <div class="label-container">
                                            <label id="max-intereses-label"></label>
                                            <input type="hidden" id="intereses-seleccionados" />

                                            <ul id="lista-intereses" class="intereses-seleccionados-lista"></ul>

                                        </div>

                                        <div class="modal-body">
                                            <p id="mensaje-error" class="alert alert-danger"></p>
                                        </div>

                                        <div class="modal-contenido modal-intereses">

                                            <ul id="interesesSeleccionados"></ul>
                                            <label for="categorias">Categorías:</label>
                                            <select id="categorias" name="categorias">
                                                <option value="">Seleccione una categoría</option>
                                                @foreach (var categoria in ViewBag.Categorias)
                                                {
                                                    <option value="@categoria.idCategoria_interes">@categoria.nombre</option>
                                                }
                                            </select>
                                            <label for="intereses">Intereses:</label>
                                            <select id="intereses" name="intereses" multiple></select>
                                        </div>
                                        <div class="button-container">
                                            <button type="button" id="agregar-interes">Agregar</button>
                                        </div>


                                    </div>
                                </div>



                            </div>
                        </div>

                        @*para mostrar los interes qye ya tengo*@
                        <div class="form-group">
                            <label for="interests">Mis intereses:</label>

                            <ul class="button-list">
                                @foreach (var interes in ViewBag.Intereses)
                                {
                                    <li class="button-item">
                                        @interes.nombre
                                        <button type="button" data-id="@interes.idinteres" class="btn-eliminar-interes" data-id-interes="@interes.idinteres">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>


                                    </li>
                                }
                            </ul>
                        </div>


                    </div>

                </div>
            </div>
            <div class="profile-edit__footer">

            </div>
        </div>
    </div>


    @section scripts {
        <script>

$('#btnCerrarModal').on('click', function () {
    $('#modalAgregarFoto').modal('hide');
});

$('#btnAgregarFoto').on('click', function () {
    $('#modalAgregarFoto').modal('show');
});


$(document).ready(function () {
    $('#submit-btn').click(function (e) {
        e.preventDefault();
        var formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);
        $.ajax({
            url: '@Url.Action("SubirImagen", "Perfil")',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                Swal.fire({
                    title: '¡Éxito!',
                    text: 'La imagen se ha cargado correctamente.',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: '¡Error!',
                    text: 'Hubo un problema al cargar la imagen.',
                    icon: 'error'
                });
            }
        });
    });
});



function validateFileSize(input) {
    if (input.files[0].size > 2 * 1024 * 1024) {
        Swal.fire("Error", "La imagen debe ser menor que 2 MB.", "error");
        input.value = "";
        document.getElementById('submit-btn').disabled = true;
    } else {
        Swal.fire({
            title: "¿Está seguro de que desea subir esta imagen?",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Sí",
            cancelButtonText: "No"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('submit-btn').disabled = false;
            } else {
                input.value = "";
                document.getElementById('submit-btn').disabled = true;
            }
        });
    }
}

$(document).ready(function () {
    $('.eliminar-form').submit(function (e) {
        e.preventDefault(); // Prevenir envío del formulario
        var form = this;
        Swal.fire({
            title: '¿Estás seguro de eliminar la foto?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar',
            customClass: {
                confirmButton: 'btn btn-danger',
                cancelButton: 'btn btn-primary'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit(); // Continuar con el envío del formulario
            }
        });
    });
});


$(document).ready(function () {
    $.ajax({
        url: '@Url.Action("CargarDatosCliente", "Perfil")',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            if (data) {
                $('#nombre').val(data.Nombre);
                $('#descripcion').val(data.Descripcion);
            }
        },
        error: function () {
            console.error('Ocurrió un error al obtener los datos del cliente');
        }
    });
});


$(document).ready(function () {
    $("#descripcion").on("change", function () {
        var descripcion = $(this).val();
        $.ajax({
            url: "@Url.Action("ActualizarDatosCliente", "Perfil")",
            type: "POST",
            data: { description: descripcion },
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: response.message
                });
            },
            error: function (xhr, status, error) {
                console.log("Error al actualizar los datos: " + error);
            }
        });
    });
});




$(function () {
    $('#categorias').on('change', function () {
        var categoriasSeleccionadas = $(this).val();
        $.ajax({
            url: '@Url.Action("ObtenerInteresesPorCategoria", "Perfil")',
            type: 'POST',
            data: { categorias: categoriasSeleccionadas },
            success: function (data) {
                var selectIntereses = $('#intereses');
                selectIntereses.empty();
                $.each(data, function (index, interes) {
                    selectIntereses.append('<option value="' + interes.idinteres + '">' + interes.nombre + '</option>');
                });
            }
        });
    });
});

$(function () {
    $('#interesesSeleccionados').on('click', 'li', function () {
        $(this).remove();
    });

    $('#agregarInteres').on('click', function () {
        var interesSeleccionado = $('#intereses').find(':selected');
        var interesesSeleccionados = $('#interesesSeleccionados');

        if (interesSeleccionado.length > 0) {
            var interesId = interesSeleccionado.val();
            var interesNombre = interesSeleccionado.text();

            if (interesesSeleccionados.find('li[data-id="' + interesId + '"]').length === 0) {
                interesesSeleccionados.append('<li data-id="' + interesId + '">' + interesNombre + '</li>');
            } else {
                alert('Este interés ya ha sido seleccionado.');
            }
        } else {
            alert('Seleccione un interés para agregar.');
        }
    });
});


//modal

// Seleccionar el botón y el modal
var btnModal = document.getElementById("btn-modal");
var miModal = document.getElementById("mi-modal");

// Seleccionar el botón de cerrar el modal
var btnCerrar = miModal.getElementsByClassName("cerrar")[0];

// Función para abrir el modal
function abrirModal() {
    miModal.style.display = "block";
    $("#categorias").click(function (event) {
        event.stopPropagation();
    });
    $('#intereses').click(function (event) {
        event.stopPropagation(); // Evita que el evento se propague al modal
        event.preventDefault(); // Evita que el formulario se envíe y la página se recargue
        // Resto del código para agregar el interés
    });


}

// Función para cerrar el modal
function cerrarModal() {
    miModal.style.display = "none";
}

// Asignar eventos a los botones
btnModal.addEventListener("click", abrirModal);
btnCerrar.addEventListener("click", cerrarModal);
miModal.addEventListener("click", cerrarModal);





$(document).ready(function () {
    $('.btn-eliminar-interes').click(function () {
        var idInteres = $(this).data('id-interes');
        $.ajax({
            url: '@Url.Action("eliminarInteres", "Perfil")',
            type: 'POST',
            data: { idInteres: idInteres },
            success: function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: 'Interés eliminado correctamente'
                }).then(function () {
                    location.reload();
                });
            },
            error: function () {
                // Manejar el error
            }
        });
    });
});


$('#intereses').on('change', function () {
    var idInteres = $(this).val();
    var interes = $('#intereses option:selected').text();

    // Actualizar el valor del input con los id de los intereses seleccionados
    var interesesSeleccionados = $('#intereses-seleccionados').val();
    if (interesesSeleccionados === "") {
        $('#intereses-seleccionados').val(idInteres);
    } else {
        $('#intereses-seleccionados').val(interesesSeleccionados + "," + idInteres);
    }

    $('#lista-intereses').append('<li>' + interes + '</li>');

    // Limpia el select de intereses seleccionados para que el usuario pueda agregar nuevos intereses
    $('#intereses option:selected').remove();
});


// Controlador del evento click del botón para agregar el interés
$('button').on('click', function (event) {
    event.stopPropagation(); // Evita que el evento se propague al modal
    event.preventDefault(); // Evita que el formulario se envíe y la página se recargue

    // Verificar si el cliente ha alcanzado el límite de intereses permitidos
    $.ajax({
        type: "GET",
        url: "@Url.Action("ObtenerDatosInteres","Perfil")",
        success: function (data) {
            if (data.InteresesDisponibles <= 0) {
                alert("Ya ha seleccionado el máximo de intereses permitidos.");
                return;
            }

            // Agregar el interés a la base de datos
            var idInteres = $('#intereses').val();
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log("Error al obtener el límite de intereses: " + errorThrown);
        }
    });
});

$(document).ready(function () {
    $('#agregar-interes').click(function () {
        var interesesSeleccionados = $('#intereses-seleccionados').val();

        $.ajax({
            type: "POST",
            url: "@Url.Action("AgregarInteres","Perfil")",
            data: { idInteres: interesesSeleccionados },
            success: function (data) {
                Swal.fire({
                    icon: 'success',
                    title: 'Interés agregado con éxito',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    location.reload();
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error al agregar el interés: " + errorThrown);
            }
        });
    });
});







$('#eliminar-interes').on('click', function () {
    var interesesSeleccionados = $('#intereses-seleccionados').val();
    var listaIntereses = $('#lista-intereses');

    // Elimina la última coma y el espacio de la cadena de intereses seleccionados
    interesesSeleccionados = interesesSeleccionados.substring(0, interesesSeleccionados.length - 2);

    // Obtiene el último interés agregado a la lista y lo agrega al select de intereses
    var ultimoInteres = listaIntereses.children('li:last').text();
    var opcion = $('<option>').val('').text(ultimoInteres);
    $('#intereses').append(opcion);

    // Elimina el último elemento de la lista de intereses seleccionados
    listaIntereses.children('li:last').remove();

    // Actualiza el valor del input con los id de los intereses seleccionados
    $('#intereses-seleccionados').val(interesesSeleccionados);
});






$.ajax({
    type: "GET",
    url: "@Url.Action("ObtenerDatosInteres","Perfil")",
    success: function (data) {
        $("#max-intereses-label").text("Cantidad de intereses disponibles: " + data.InteresesDisponibles);
    },
    error: function (jqXHR, textStatus, errorThrown) {
        console.log("Error al obtener el límite de intereses: " + errorThrown);
    }
});







        </script>
    }


</body>
</html>
