
@model CapaEntidad.foto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/StylesJona/style2.css" rel="stylesheet" />
    <title>Input Image With Preview Image</title>
    <link href="~/Content/StylesJona/styleImagenes.css" rel="stylesheet" />


</head>
<body>

    <div class="container">

        <script>
            function validateFileSize(input) {
                if (input.files[0].size > 2 * 1024 * 1024) {
                    alert("La imagen debe ser menor que 2 MB.");
                    input.value = "";
                }
            }
        </script>
        @{
            if (ViewBag.Error != null)
            {

                <div class="form-floating mb-3">
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Error
                    </div>
                </div>
            }
        }

        @*<form @Url.Action("Pregunta3", "preguntasInteres") method="post">


                @Html.TextBoxFor(m => m.rutaFoto, new { type = "file", @class = "my-file-input-class", @id = "image", name = "Image", @accept = "image/*" })
                <button type="submit">enviar</button>
            </form>*@
        @using (Html.BeginForm("Pregunta3", "preguntasInteres", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input class="form-control" type="hidden" value="@TempData["idCliente"]" name="idCliente" />
            <div class="upload-button" onclick="document.getElementById('file').click()">
                <span>Subir imagen</span>
                <input type="file" name="file" id="file" accept=".jpeg" onchange="validateFileSize(this)" />

            </div>
            <button class="submit-btn" type="submit">Subir </button>
        }
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-@TempData["MessageType"]">
                @TempData["Message"]
            </div>
        }



    </div>


    <script src="~/Scripts/script.js"></script>

</body>


</html>

