@model CapaEntidad.interes



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pregunta4</title>
    <link href="~/Content/StylesJona/pregunta4p.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="~/Content/StylesJona/Select.css" rel="stylesheet" />


</head>

<body>

    @*con esto me tarigo el nombre y la imagen del usuario actual*@
    @*@{
            var miObjeto = Session["Cliente"] as CapaEntidad.cliente;
        }

        @if (miObjeto != null)
        {
            <p>El nombre de mi objeto es: @miObjeto.nombre</p>
        }*@
    @*<img src="@Url.Action("GetImage", "preguntasInteres", new { id = 1 })" />*@


    <div class="outer-container">
        <div class="question-container">
            <!-- Código HTML actual de la pregunta -->
            <div id="container">
                <div class="question-container">
                    <div class="question-header">
                        <img src="~/imagenes/image001.png" alt="Logo">
                        <hr>
                        <h2><strong>intereses:</strong></h2>
                    </div>
                    <div class="question-body">
                        <input type="text" id="interesesSeleccionadosInput" name="interesesSeleccionados" value="">

                        @using (Html.BeginForm("Pregunta4", "preguntasInteres", FormMethod.Post, new { id = "formularioIntereses" }))
                        {
                            <h1>Selecciona algunos intereses:</h1>
                            <div>
                                Intereses seleccionados:
                                <ul id="interesesSeleccionados"></ul>
                            </div>
                            <label for="categorias">Categorías:</label>
                            <select id="categorias" name="categorias">
                                <option value="">Seleccione una categoría</option>
                                @foreach (var categoria in ViewBag.Categorias)
                                {
                                    <option value="@categoria.idCategoria_interes">@categoria.nombre</option>
                                }
                            </select>
                            <div>
                                <label for="intereses">Intereses:</label>
                                <select id="intereses" name="intereses" multiple></select>
                            </div>


                            <input id="btnSubmit" type="submit" value="Continuar">

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    //scrip para traer los interese por categorias
    $(function () {
        $('#categorias').on('change', function () {
            var categoriasSeleccionadas = $(this).val();
            $.ajax({
                url: '@Url.Action("ObtenerInteresesPorCategoria", "preguntasInteres")',
                type: 'POST',
                data: { categorias: categoriasSeleccionadas },
                success: function (data) {
                    var selectIntereses = $('#intereses');
                    selectIntereses.empty();
                    $.each(data, function (index, interes) {
                        selectIntereses.append('<option value="' + interes.idinteres + '">' + interes.nombre + '</option>');
                    });
                }
            });
        });
    });
    $(function () {
        var interesesSeleccionados = [];
        var limiteIntereses = 0;
        $.ajax({
            url: '/PreguntasInteres/ObtenerLimiteMaximoIntereses',
            type: 'GET',
            success: function (data) {
                limiteIntereses = data;
            },
            error: function (error) {
                console.log(error);
            }
        });
        $('#intereses').on('change', function () {
            if (interesesSeleccionados.length < limiteIntereses) { // Usa el límite obtenido
                var interes = $(this).find('option:selected');
                var id = interes.val();
                var nombre = interes.text();
                if ($.inArray(id, interesesSeleccionados) == -1) {
                    interesesSeleccionados.push(id);
                    $('#interesesSeleccionados').append('<li><span class="etiqueta-interes">' + nombre + '</span><button class="boton-interes eliminar-interes eliminar-interes-tag" data-id="' + id + '">X</button></li>');
                    $('#interesesSeleccionadosInput').val(interesesSeleccionados.join()); // Actualiza el valor del input oculto
                }
            }
        });
    $('#interesesSeleccionados').on('click', '.eliminar-interes', function () {
        var id = $(this).data('id');
        var index = interesesSeleccionados.indexOf(id);
        if (index !== -1) {
            interesesSeleccionados.splice(index, 1);
            $('#interesesSeleccionadosInput').val(interesesSeleccionados.join()); // Actualiza el valor del input oculto
        }
        $(this).parent().remove();
    });
    });
        //metodo para enviar los datos al controlador
    $(function() {
        $('#btnSubmit').on('click', function(event) {
        event.preventDefault();
        // Obtener los intereses seleccionados
        var interesesSeleccionados = $('#interesesSeleccionadosInput').val();
        // Enviar una solicitud AJAX al controlador
        $.ajax({
          url: '@Url.Action("Pregunta4", "preguntasInteres")',
          type: 'POST',
          data: { interesesSeleccionados: interesesSeleccionados },
          success: function(data) {
            // Manejar la respuesta del controlador
              window.location.replace('@Url.Action("Pregunta2", "preguntasInteres")');
          }
        });
      });
    });

    </script>
</body>
</html>
